/* Fonts for our web project: Roboto and Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

/* Reset classes from here: */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    --primaryTextColor: #183B56;
    --secondaryTextColor: #577592;
    --accentColor: #2294ed;
    --accentColorDark: #1d69a3;
    --paddingInlineSection: 20px;

}

body {

    font-family: 'Poppins', sans-serif;
    color: var(--primaryTextColor);


}

h1 {

    font-size: 3rem;

}

h2 {

    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {

    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondaryTextColor);
    line-height: 1.8rem;

}

a {

    text-decoration: none;
    display: inline-block;

}

/* UL Parts */

ul{
    list-style: none;

}


/* Utility classes from here:  */
.smallBoldText {
    font-size: 1rem;
    font-weight: 700;

}

.container {


    max-width: 2000px;
    margin-inline: auto;
    padding-inline: var(--paddingInlineSection);

}

.flex{

    display: flex;
    align-items: center;
}

.hoverLink{

    color: var(--primaryTextColor);
    transition: 0.2s ease-out ;


}

.hoverLink:hover{

    color: var(--accentColor);
}

.primaryButton{

    background-color: var(--accentColor);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondaryTextColor);
    transition: 0.2s ease-out;
}

.primaryButton:hover{

    background-color: var(--accentColorDark);

}

.secondaryButton{

    border: 0.5px solid var(--secondaryTextColor);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primaryTextColor)  !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondaryButton:hover{

    border-color: var(--accentColor);
    color: var(--accentColor);
    
}


/* topBanner Part */

.topBanner{



    background-color: #4fd482;
    background-image: url('/Assets/asset\ 32.png');
    background-size: 300px;
    /* background-repeat: no-repeat; */


}

.bannerText{

    color: rgb(25, 0, 147);
    padding: 15px 30px;
    text-align: center;

}


/* NavPart */
.mainNav{

    margin-top: 20px;
    justify-content: space-between;


}

.companyLogo img{

    width: 50px;
}

.navLinks {

    flex-basis: 900px;
}

.navLinks ul{

    justify-content: end;
    gap: 40px;

}

/* HeaderSection */

header{

    padding: 50px var(--paddingInlineSection);


}

.headerSection{

    justify-content: center;
    gap: 50px;
}

.headerLeft{

    max-width: 50vw;

}

.headerLeft h1{
    margin-top: 20px;

}

.getStartedButton{
    margin: 0px;

}

.headerRight img{

    width: 600px;
}

/* Companies/Hospitals Header Section Part */

.hospitalsHeader{

    text-align: center;
    margin-block: 30px;
    color: var(--primaryTextColor);
}

.logos{
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.logo{

    height: 100px;

}

/* Features Section   */

.featuresSection{
    padding: 80px var(--paddingInlineSection) 0;



}

.featuresHeader{
    text-align: center;

}

.featuresHeadingText{

    margin-bottom: 20px;

}

.featuresArea{

    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    gap: 40px;
    margin-top: 20px;


}

.featuresCard{

    flex-direction: column;
   
    flex-wrap: wrap;
    gap: 20px;
    max-width: 30%;
    text-align: center;


}

.featuresCard img{

    width: 100px;
}