body{

    colorPrimary: #009570;
    colorPrimaryDark: #007f67; 
    colorSecondary: #252c6a; 
    colorError: #cc3333; 
    colorSuccess: #252c6a; 
    borderRadius: 4px;


    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;


    font-size: 18px;
    background-size: cover;


}

.container{

    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(borderRadius);
    background: #ffffff;

}